<p data-ng-click = "toggleDetail()" data-ng-hide="showDetail">
	<span>{{ data.author }}</span>
	<span> {{ data.title }}</span>
	<span> {{ data.creationTime }}</span>
</p>

<div class="panel panel-default" data-ng-show = "showDetail"> 
  <div class="panel-heading" data-ng-click = "toggleDetail()">
    <h3 class="panel-title">{{ data.title }}</h3>
  </div>
  
  <div class="panel-body">
  	<p>
		{{data.description}}
	</p>
	
	<button type="button" class="btn btn-default pull-right" id="btn{{data.id}}">Default</button>
  </div>
</div>

