<p data-ng-click = "toggleDetail()" data-ng-hide="showDetail">
	<span>{{ data.author }}</span>
	<span> {{ data.title }}</span>
	<span> {{ data.creationTime }}</span>
</p>

<div class="panel panel-default" data-ng-show = "showDetail"> 
  <div class="panel-heading" data-ng-click = "toggleDetail()">
    <h3 class="panel-title">{{ data.title }}</h3>
  </div>
  
  <div class="panel-body">
  	<p>
		{{data.description}}
	</p>
	
	<p id="btnContainer{{data.id}}">
		<button type="button" class="btn btn-primary pull-right" data-ng-show = "showNext" data-ng-click="next()">复诊</button>
	<p>
  </div>
</div>

